body{
    font-family: Courier New;
}

body a{
    color: #333;
}

input{
    border: 1px solid rgb(169, 169, 169);
    border-radius: 4px;
}
textarea{
   border: 1px solid rgb(169, 169, 169);
   border-radius: 6px;
}

body a:hover{
   background-color: #333;
   padding: 5px;
   text-decoration: underline;
   color: white;
   font-weight: bold;
}
#navbar a:hover{
   background-color: #333;
   padding: 5px;
   color: white;
}

#search a:hover{
   color: rgb(51,51,51);
   text-decoration:none;
}
#status_menu{
    padding: 10px;
}

.langswitcher{
padding-top: 30px;
}

#main_search input{
   width: 50%;
   padding: 12px 20px;
   border: 1px solid rgb(169, 169, 169);
}

#main_search{
    text-align: center;
    margin-top: 10%;
}

#main_search input, select, textarea{
  color: #333;
  font-weight: 100;
}
#main_search2 input, select, textarea{
   width: 50%;
   padding: 12px 20px;
}

.btn{
    background-color:white;
    border: 1px solid rgb(169, 169, 169);
    color: rgb(169, 169, 169);
}
.btn:hover{
   background-color:black;
   color:white;
}

#footer{
margin-top: 15%;
padding: 20px;
}

#footer div a{
   text-align: right;
}

.form td{
    padding: 5px;
}
#workzone{
    background-color: #f3f3f3;
    padding: 15px;
}

