body{
    font-family: Courier New;
}

body a{
    color: #333;
}

body a:hover{
   background-color: #333;
   padding: 5px;
   text-decoration: none;
   color: white;
   font-weight: bold;
}
#navbar a:hover{
   background-color: #333;
   padding: 5px;
   color: white;
}


#status_menu{
    padding: 10px;
}

.langswitcher{
margin-top: 25px;
}

#main_search input{
   width: 50%;
   padding: 12px 20px;
   border: 1px solid;
}

#main_search{
    text-align: center;
    margin-top: 10%;
}

#main_search input, select, textarea{
  color: #333;
  font-weight: 900;
}

.btn{
    background-color:white;
    border: 1px solid;
}
.btn:hover{
   background-color:#333;
   color:white;
}

#footer{
margin-top: 15%;
}

#footer div a{
   text-align: right;
}
