{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
<title>Database of lost people</title>
  <meta name="keywords" content="people,wanted,lost,database,find people"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name = "description" value = "Database of lost people" />
  <meta name="author" content="Roman Demkiv"/>

<!-- Boostrap inclusion -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Main.css inclusion -->
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
</head>

<body>

<div class = "container">
    <div class = "row" id = "head">
        <div class = "col-sm-10">
          <h2>
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          Database of wanted people
          </h2>
        </div>
        <div class = "col-sm-2" style="text-align:right">
           <div class = "langswitcher">
           <a href="#">en</a> /
           <a href="#">uk</a> /
           <a href="#">ru</a>
           </div>
        </div>
    </div>
</div>



<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
