{% load static %}
<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset="utf-8">
<title>{% block title %}Database of lost people{% endblock title %}</title>
  <meta name="keywords" content="people,wanted,lost,database,find people"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name = "description" value = "Database of lost people" />
  <meta name="author" content="Roman Demkiv"/>

<!-- Boostrap inclusion -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Main.css inclusion -->
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
</head>

<body>

<div class = "container">

    <div class = "row" id = "head">
        <div class = "col-sm-10">
          <h2>
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <b>Database of wanted people</b>
          </h2>
        </div>
        <div class = "col-sm-2" style="text-align:right">
           <div class = "langswitcher">
           <a href="#">en</a> /
           <a href="#">uk</a> /
           <a href="#">ru</a>
           </div>
        </div>
    </div>

    <div class = "row" id = "navbar">   
        <div class = "col-sm-10">
             <ul class="nav nav-tabs">
                <li class="nav-item">
                <a class="nav-link active" href="{% url 'home' %}"><b>Home</b></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'add_person' %}"><b>Add</b></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}"><b>Contact</b></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'help' %}"><b>Help</b></a>
                </li>
             </ul>
        </div> 
        <div class = "col-sm-2" style="text-align:right">
          <a class="nav-link active" href="{% url 'about_us' %}">About us</a>
        </div>
    </div>

    <div class = "row" id = "status_menu">
        <div class = "col-sm-12">
        {% block status_message %}
        {% endblock status_message%}    
        </div>
    </div>
{% block content %}
   <div class = "row" id = "search">
        <div class = "col-sm-12">
           <nav class="navbar navbar-light bg-light">
             <form class = "form-inline" id = "main_search">
               <input class="form-control mr-sm-2" type="text" placeholder="Search">
               <button class="btn" type="submit">
               <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
               </button>
             </form>
           </nav>
        </div>
    </div>
{% endblock content %}
   <div class = "row" id = "footer">
       <div class = "col-sm-6">
          <span class = "glyphicon glyphicon-copyright-mark"> </span> 2018 wanted R.D
       </div>
   </div>

</div>



<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
