{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
<title>Database of lost people</title>
  <meta name="keywords" content="people,wanted,lost,database,find people">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name = "description" value = "Database of lost people" />
  <meta name="author" content="Roman Demkiv">

<!-- Style inclusion -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"/>

<!-- Main.css inclusion -->
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
</head>

<body>

<h1>Wanted peoples</h1>
<!-- Javascript Inclusions -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
