{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %} Comments {% endblock title%}
{% block style %}
<style>
    td{
    padding: 15px;
    vertical-align: top;
    text-align: left;
    }
    img{
    border-radius: 8px;
    filter: grayscale(100%);
    }
    .td_photo{
    width: 80px;
    }
    .comment{
    width: 100%;
    }
    #comment_field{
    width: 60%;
    border: 1px solid grey;
    border-radius: 6px;
    padding: 5px;
    padding-bottom: 0px;
    }
    .coments_user_block{
     color: black;
     font-size: 12px;
     }

</style>
{% endblock style %}
{% block content %}
<div>
    <div class = "col-sm-6">
                <table>
                       <tr>
                          <td class = " td_photo">
                          {% if person.photo %}
                          <a href = "{{person.photo.url}}">
                          <img height = "100" width = "100" class="w3-grayscale" 
                          src = "{{person.photo.url}}">
                          </a>
                          {% else %}
                          <img height = "100" width = "100" class="w3-grayscale" 
                          src = "{% static 'img/generic-man.png'%}">
                          {% endif%}
                          </td>
                          <td>
                          <strong>name: </strong>{{ person.first_name }} {{ person.last_name }} </br>
                          {% if person.birthday %}
                          <strong>birthday: </strong>{{person.birthday}} </br>
                          {% endif %}
                          {% if person.phone %}
                          <strong>phone: </strong>{{person.phone}} </br>
                          {% endif %}
                          {% if person.email %}
                          <strong>email: </strong>{{person.email}} </br>
                          {% endif %}
                          {% if person.country %}
                          <strong>address: </strong>{{person.country}} {{person.city}}</br>
                          {% endif %}
                          </td>
                       </tr>
                       {% if person.note %}
                          <tr><td colspan = "2" style="padding-top:0px">
                          <strong>Note: </strong>{{person.note}}
                          </td>
                          </tr>
                       {% endif %}
                </table>

            <!--  <form action = "" method = "post" class = "form-inline" id = "comment_form"> -->
              
             <div id="comment_div">
             <textarea id = "comment_field" rows = "1" oninput = "formAutoResize(this)"
             placeholder = "type comment" autofocus> 
             </textarea> 
             {% csrf_token %}
             <p style = "text-align:left;padding:5px;width:60%;">
                <a href = "{% url 'comment_save' %}" data-person-id = {{person.id}}
                 data-user-id = {{user.id}} data-url-for-get = "{% url 'comment' person.id %}"
                 id = "send_coment">Send</a>
             </p>
             </div>
       <!--      </form> -->
            <p id = "demo"></p>
        </div>
<!-- Zone for comments -->
    <div class = "col-sm-6">
    <h3>Comments...</h3>
  <div id = "all_comments">
    {% for comment in comments_list %}
        <div class = "coments_block">
        <p class = "coments_user_block">
            <b>{{comment.user.username}}</b> | <b>{{comment.date}}</b>
        </p>
        <p class = "in_coments_block">
            {{comment.comment}}
        </p>
        </div>
    {% endfor %}
  </div>
    </div>
</div>
{% endblock content %}
{% block footer %}
   <div class = "row" id = "footer">
       <div class = "col-sm-12">
          <span class = "glyphicon glyphicon-copyright-mark"> </span> 2018 wanted R.D
       </div>
   </div>
{% endblock footer%}
