{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %} Comments {% endblock title%}
{% block style %}
<style>
    td{
    padding: 15px;
    vertical-align: top;
    text-align: left;
    }
    img{
    border-radius: 8px;
    filter: grayscale(100%);
    }
    .td_photo{
    width: 80px;
    }
    .comment{
    width: 100%;
    }
</style>
{% endblock style %}
{% block content %}
    <div class = "col-sm-6">
                <table>
                       <tr>
                          <td class = " td_photo">
                          {% if person.photo %}
                          <a href = "{{person.photo.url}}">
                          <img height = "100" width = "100" class="w3-grayscale" 
                          src = "{{person.photo.url}}">
                          </a>
                          {% else %}
                          <img height = "100" width = "100" class="w3-grayscale" 
                          src = "{% static 'img/generic-man.png'%}">
                          {% endif%}
                          </td>
                          <td>
                          <strong>name: </strong>{{ person.first_name }} {{ person.last_name }} </br>
                          {% if person.birthday %}
                          <strong>birthday: </strong>{{person.birthday}} </br>
                          {% endif %}
                          {% if person.phone %}
                          <strong>phone: </strong>{{person.phone}} </br>
                          {% endif %}
                          {% if person.email %}
                          <strong>email: </strong>{{person.email}} </br>
                          {% endif %}
                          {% if person.country %}
                          <strong>address: </strong>{{person.country}} {{person.city}}</br>
                          {% endif %}
                          </td>
                       </tr>
                       {% if person.note %}
                          <tr><td colspan = "2" style="padding-top:0px">
                          <strong>Note: </strong>{{person.note}}
                          </td>
                          </tr>
                       {% endif %}
                </table>

           <nav class="navbar navbar-light bg-light">
             <form action="{% url 'search' %}" method="POST" class = "form-inline" id = "comment_form">
               {% csrf_token %}
             <input id = "comment_field" class = "ClickFormBorder" type="text" name="comment" 
             autofocus placeholder = "type comment" style = "height: 2em;width:50%">
             </form>
           </nav>
        </div>
<!-- Zone for comments -->
    <div class = "col-sm-6">
    <h4 style = "text-decoration: underline">Comments:</h4>
    </div>
{% endblock content %}
{% block footer %}
   <div class = "row" id = "footer">
       <div class = "col-sm-12">
          <span class = "glyphicon glyphicon-copyright-mark"> </span> 2018 wanted R.D
       </div>
   </div>
{% endblock footer%}
