{% extends "base.html" %}
{% block title %} Add form{% endblock title%}
{% block content %}
   
<h3 style="margin-top: 0px">
<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
<b>Add wanted person to database</b></h3>
<div style="margin-top: 30px">
   <form action="" method="post" enctype="multipart/form-data" role = "form" class = "form-horizontal">
    <table class = "form">
    {% csrf_token %}
    {{ form.as_table }}
  <tr><td></td>
          <td><input type = "hidden" name = "user" {% if user.is_authenticated %} value = {{user.id}}
              {% else %} value = "" {% endif %}></td>
  </tr>
   <tr style="margin-top: 10px">
      <td>
        
      </td>
      <td>
        <button type="submit" name="add_button" class="btn btn-outline-dark"><b>Add</b></button>
        <button type="submit" name="cancel_button" class="btn btn-outline-dark"><b>Cancel</b></button>
      </td>
   </tr>
   </table>
   </form>
</div>
{% endblock content %}

{% block footer %}
<div class = "row" style="margin-top: 20px">
       <div class = "col-sm-12">
          <span class = "glyphicon glyphicon-copyright-mark"> </span> 2018 wanted R.D
       </div>
</div>
{% endblock footer %}
